<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1C6DF81A-81B0-4C56-9FB2-C08BD02E32D0</key>
	<dict>
		<key>Visible Rect</key>
		<string>{{0, 35}, {933, 726}}</string>
		<key>Zoom Factor</key>
		<real>1</real>
	</dict>
	<key>Bottombar Visible</key>
	<false/>
	<key>Expanded Ideaspaces For Section DA19BB35-4CA9-4D6F-A36C-1AF079F68475</key>
	<array/>
	<key>Expanded Sections</key>
	<array/>
	<key>Last Viewed Ideaspaces For Section DA19BB35-4CA9-4D6F-A36C-1AF079F68475</key>
	<array>
		<string>1C6DF81A-81B0-4C56-9FB2-C08BD02E32D0</string>
	</array>
	<key>Last Viewed Section</key>
	<array>
		<string>DA19BB35-4CA9-4D6F-A36C-1AF079F68475</string>
	</array>
	<key>Normal Window Layout</key>
	<string>{{-122, 18}, {1425, 824}}</string>
	<key>Organizer Visible</key>
	<true/>
	<key>Organizer Width</key>
	<integer>170</integer>
	<key>Primary Asset UUID Last Viewed</key>
	<string>1C6DF81A-81B0-4C56-9FB2-C08BD02E32D0</string>
	<key>Scroll Position For Section DA19BB35-4CA9-4D6F-A36C-1AF079F68475</key>
	<string>{0, 0}</string>
	<key>Secondary View Vertical</key>
	<true/>
	<key>Secondary View Visible</key>
	<false/>
	<key>Sections Visible</key>
	<false/>
	<key>Toolbar Visible</key>
	<true/>
</dict>
</plist>
